# Experimenting with Pandas Loops

In this notebook, I experimented with different ways of implementing loops to modify a Pandas dataframe. I evaluated the time taken by each. I wanted to identify the most efficient way of iterating elements in a dataframe.

In [1]:
import math
import numpy as np
import pandas as pd

## Download data

As an example, I downloadeded the Premier League football results dataset for 10 seasons from 2010-19.

In [3]:
# Downloading the Premier League datasets
!mkdir data
!curl -o data/pl_results_19_20.csv http://www.football-data.co.uk/mmz4281/1920/E0.csv
!curl -o data/pl_results_18_19.csv http://www.football-data.co.uk/mmz4281/1819/E0.csv
!curl -o data/pl_results_17_18.csv http://www.football-data.co.uk/mmz4281/1718/E0.csv
!curl -o data/pl_results_16_17.csv http://www.football-data.co.uk/mmz4281/1617/E0.csv
!curl -o data/pl_results_15_16.csv http://www.football-data.co.uk/mmz4281/1516/E0.csv
!curl -o data/pl_results_14_15.csv http://www.football-data.co.uk/mmz4281/1415/E0.csv
!curl -o data/pl_results_13_14.csv http://www.football-data.co.uk/mmz4281/1314/E0.csv
!curl -o data/pl_results_12_13.csv http://www.football-data.co.uk/mmz4281/1213/E0.csv
!curl -o data/pl_results_11_12.csv http://www.football-data.co.uk/mmz4281/1112/E0.csv
!curl -o data/pl_results_10_11.csv http://www.football-data.co.uk/mmz4281/1011/E0.csv

mkdir: data: File exists

## Import the dataset

There are 10 files, each containing the football results from a season in the decade. I append each new season data to the original data

In [12]:
# Create pandas dataframe for all Premier League games over the decade 2010-19

pl_results_10_19 = pd.read_csv('data/pl_results_19_20.csv', parse_dates=['Date'], dayfirst=True)

for i in range(11,20):
    fname = "data/pl_results_"+str(i)+"_"+str(i+1)+".csv"
    temp = pd.read_csv(fname, parse_dates=['Date'], dayfirst=True)
    pl_results_10_19 = pl_results_10_19.append(temp)

In [13]:
pl_results_10_19.shape

(3381, 139)

In [14]:
pl_results_10_19.head()

,AC,AF,AHCh,AHh,AR,AS,AST,AY,Avg<2.5,Avg>2.5,...,VCCD,VCCH,VCD,VCH,WHA,WHCA,WHCD,WHCH,WHD,WHH
0,2.0,9.0,-2.25,-2.25,0.0,12.0,5.0,2.0,2.92,1.41,...,9.50,1.14,9.5,1.14,21.00,21.00,9.5,1.11,8.5,1.12
1,1.0,13.0,1.75,1.75,0.0,14.0,9.0,2.0,2.65,1.48,...,6.50,12.00,6.5,12.00,1.24,1.24,6.5,11.00,6.0,13.00
2,4.0,19.0,-0.50,-0.50,0.0,8.0,3.0,1.0,1.93,1.90,...,3.60,2.00,3.6,2.00,3.80,3.90,3.6,1.95,3.5,2.00
3,7.0,12.0,0.00,0.00,0.0,11.0,3.0,0.0,1.73,2.12,...,3.25,2.70,3.3,2.70,2.75,2.80,3.2,2.62,3.2,2.70
4,2.0,14.0,0.25,0.25,1.0,10.0,3.0,1.0,1.70,2.18,...,3.30,3.40,3.3,3.20,2.35,2.25,3.3,3.30,3.3,3.10

In [19]:
pl_results_10_19['HomeTeam'].unique()

array(['Liverpool', 'West Ham', 'Bournemouth', 'Burnley',
       'Crystal Palace', 'Watford', 'Tottenham', 'Leicester', 'Newcastle',
       'Man United', 'Arsenal', 'Aston Villa', 'Brighton', 'Everton',
       'Norwich', 'Southampton', 'Man City', 'Sheffield United',
       'Chelsea', 'Wolves', 'Blackburn', 'Fulham', 'QPR', 'Wigan',
       'Stoke', 'West Brom', 'Sunderland', 'Swansea', 'Bolton', 'Reading',
       'Hull', 'Cardiff', nan, 'Middlesbrough', 'Huddersfield'],
      dtype=object)

## 1. Standard loop
In this implementation of loop, I use the simple Pandas way of iterating the indexes of each row of the dataframe (using <em>iloc</em>). 

To evaluate the time taken, I use the built-in magic function, <em>timeit</em>. To use magic functions, start with one percentage sign, followed by 'timeit', followed by the line of code to evaluate. Shown below.
> %timeit 5+2

To use magic function over the entire cell, start with two percentage signs, followed by 'timeit', followed by all the code to evaluate.
>%%timeit
>Code block

The process appears to be very slow. It takes, on average, 1 minute and 41 seconds per loop.

In [38]:
# Creating draw result column using standard loop
def standard_loop(results_table, team_name):
    results_table['Draw'] = ''
    
    for i in range(0,len(results_table)):
        home_team = (results_table.iloc[i,])['HomeTeam']
        away_team = (results_table.iloc[i,])['AwayTeam']
        full_time_result = (results_table.iloc[i,])['FTR']
        
        if (pd.isnull(home_team) or pd.isnull(away_team) or pd.isnull(full_time_result)):
            results_table['Draw'].iloc[i] = 'NA'
            continue
        
        if ((home_team == team_name or away_team == team_name) and full_time_result == 'D'):
            results_table['Draw'].iloc[i] = 'Draw'
        elif ((home_team == team_name or away_team == team_name) and full_time_result != 'D'):
            results_table['Draw'].iloc[i] = 'Result'
        else:
            results_table['Draw'].iloc[i] = 'NA'

In [42]:
%%timeit
standard_loop(pl_results_10_19,'Chelsea');

1min 41s Â± 321 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

## 2. Iterrows loop
Instead of iterating indices and using iloc to get a row in the dataframe, I use the <em>iterrows()</em> function to iterate the rows of the dataframe.

I did not notice any improvement in performance. Average time per loop was still 1 minute and 40 seconds.

In [45]:
# Creating draw result column using pandas iterrows
def iterrows_loop(results_table, team_name):
    results_table['Draw'] = ''
    
    for index, row in results_table.iterrows():
        home_team = row['HomeTeam']
        away_team = row['AwayTeam']
        full_time_result = row['FTR']
        
        if (pd.isnull(home_team) or pd.isnull(away_team) or pd.isnull(full_time_result)):
            results_table['Draw'].iloc[index] = 'NA'
            continue
        
        if ((home_team == team_name or away_team == team_name) and full_time_result == 'D'):
            results_table['Draw'].iloc[index] = 'Draw'
        elif ((home_team == team_name or away_team == team_name) and full_time_result != 'D'):
            results_table['Draw'].iloc[index] = 'Result'
        else:
            results_table['Draw'].iloc[index] = 'NA'

In [46]:
%%timeit
iterrows_loop(pl_results_10_19,'Chelsea');

1min 40s Â± 1.6 s per loop (mean Â± std. dev. of 7 runs, 1 loop each)

## 3. Iterrows loop appending to a list
I made a slight change to the previous code. Instead of assigning new values directly to the Pandas Series, I append them in a list, and create a Series at the very end as I add the column to the dataframe.

This led to a significant gain in performance. On average, each loop took only 476 ms.

In [47]:
# Re-testing iterrows but appending list instead of Pandas Series
def iterrows_loop2(results_table, team_name):
    draw_or_result = []
    
    for index, row in results_table.iterrows():
        home_team = row['HomeTeam']
        away_team = row['AwayTeam']
        full_time_result = row['FTR']
        
        if (pd.isnull(home_team) or pd.isnull(away_team) or pd.isnull(full_time_result)):
            draw_or_result.append('NA')
            continue
        
        if ((home_team == team_name or away_team == team_name) and full_time_result == 'D'):
            draw_or_result.append('Draw')
        elif ((home_team == team_name or away_team == team_name) and full_time_result != 'D'):
            draw_or_result.append('Result')
        else:
            draw_or_result.append('NA')
    
    results_table['Draw'] = draw_or_result

In [48]:
%%timeit
iterrows_loop2(pl_results_10_19,'Chelsea');

476 ms Â± 13.9 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

## 4. Itertuples

Same as before but instead of using iterrows, I use iterruples to iterate the rows in the dataframe.

This again led to a significant gain in performance. On average, a loop ran for only 76.9 ms.

In [51]:
# Testing itertuples instead of iterrows
def itertuples_loop(results_table, team_name):
    draw_or_result = []
    
    for row in results_table.itertuples():
        home_team = row.HomeTeam
        away_team = row.AwayTeam
        full_time_result = row.FTR
        
        if (pd.isnull(home_team) or pd.isnull(away_team) or pd.isnull(full_time_result)):
            draw_or_result.append('NA')
            continue
        
        if ((home_team == team_name or away_team == team_name) and full_time_result == 'D'):
            draw_or_result.append('Draw')
        elif ((home_team == team_name or away_team == team_name) and full_time_result != 'D'):
            draw_or_result.append('Result')
        else:
            draw_or_result.append('NA')
    
    results_table['Draw'] = draw_or_result

In [52]:
%%timeit
itertuples_loop(pl_results_10_19,'Chelsea');

76.9 ms Â± 867 Âµs per loop (mean Â± std. dev. of 7 runs, 10 loops each)

## 5. Apply with lambda function

In this method, I use the dataframe's <em>apply</em> function. I create a lambda function that specifies the function to be done at each row. The <em>apply</em> function applies the lambda function to all rows of the dataframe.

This method was much faster than iterrows but slower than itertuples. On average, a loop ran for 154 ms.

In [54]:
# Testing apply with lambda funtion
def lambda_row_function(team_name, home_team, away_team, full_time_result):
    if (pd.isnull(home_team) or pd.isnull(away_team) or pd.isnull(full_time_result)):
        return 'NA'
        
    if ((home_team == team_name or away_team == team_name) and full_time_result == 'D'):
        return 'Draw'
    elif ((home_team == team_name or away_team == team_name) and full_time_result != 'D'):
        return 'Result'
    else:
        return 'NA'

In [56]:
%%timeit
pl_results_10_19['Draw'] = pl_results_10_19.apply(lambda row: lambda_row_function(
    'Chelsea', row['HomeTeam'], row['AwayTeam'], row['FTR']), axis=1)

154 ms Â± 742 Âµs per loop (mean Â± std. dev. of 7 runs, 10 loops each)

## 6. Pandas vectorization

I converted the function into a vector operation.

This led to a significant improvement in speed. A loop only took 8.34 ms.

In [64]:
# Testing Pandas vectorization
def vector_function(team_name, home_team, away_team, full_time_result):
    pl_results_10_19['Draw'] = 'NA'
    pl_results_10_19.loc[(((home_team==team_name) | (away_team==team_name)) & (full_time_result=='D')),'Draw'] = 'Draw'
    pl_results_10_19.loc[(((home_team==team_name) | (away_team==team_name)) & (full_time_result!='D')),'Draw'] = 'Result'

In [66]:
%%timeit
pl_results_10_19['Draw'] = vector_function('Chelsea',pl_results_10_19['HomeTeam'],
                                          pl_results_10_19['AwayTeam'],pl_results_10_19['FTR'])

8.34 ms Â± 71.5 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

## 7. Numpy vectorization

I made a small change to the previous code to operate on numpy vectors instead of Pandas Series.

Again, this led to a significant gain in speed. A loop only took 2.56 ms.

In [68]:
# Testing numpy vectorization

In [69]:
%%timeit
pl_results_10_19['Draw'] = vector_function('Chelsea',pl_results_10_19['HomeTeam'].values,
                                          pl_results_10_19['AwayTeam'].values,pl_results_10_19['FTR'].values)

2.56 ms Â± 12.7 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

## Conclusion
The various implemented methods and the average time taken for a single loop by each method is tabulated below.

| Method                                                 | Speed per loop (secs per loop) |
| :----------------------------------------------------- | ------------------------------ |
| Standard loop, direct assignment to dataframe          | 101                            |
| Iterrows loop, direct assignment to dataframe          | 100                            |
| Iterrows loop, list assignment to dataframe            | 0.47600                        |
| Itertuples loop, list assignment to dataframe          | 0.07690                        |
| Dataframe apply with lambda function                   | 0.15400                        |
| Vectorized pandas                                      | 0.00834                        |
| Vectorized numpy                                       | 0.00256                        |

The order of preference of implementation of loops appears to beâ€” 
1. Numpy vectorization 
2. Pandas vectorization
3. Itertuples
4. Apply with lambda function
5. Iterrows
6. Standard loop

Also, there is a significant gain in performance when list is appended and then converted into a Series at the end of all appends. This is prefereable to assigning values to the Pandas Series directly.